@tailwind base;
@tailwind components;
@tailwind utilities;

.font_custom {
  font-family: "Zen Maru Gothic", serif;
  font-weight: 400;
  font-style: normal;
}

.bg-gradient-css {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.125) 5%,
    rgba(0, 0, 0, 0.25) 10%,
    rgba(0, 0, 0, 0.375) 15%,
    rgba(0, 0, 0, 0.5) 20%,
    rgba(0, 0, 0, 0.625) 25%,
    rgba(0, 0, 0, 0.75) 30%,
    rgba(0, 0, 0, 0.875) 35%,
    black 40%,
    black 60%,
    rgba(0, 0, 0, 0.875) 65%,
    rgba(0, 0, 0, 0.75) 70%,
    rgba(0, 0, 0, 0.625) 75%,
    rgba(0, 0, 0, 0.5) 80%,
    rgba(0, 0, 0, 0.375) 85%,
    rgba(0, 0, 0, 0.25) 90%,
    rgba(0, 0, 0, 0.125) 95%,
    rgba(0, 0, 0, 0) 100%
  );
}


.line-1-vertical {
  --size: 24px;
  --stroke-width: calc(var(--size) / 12);
  --color: currentColor;
  --animation-timing-function: cubic-bezier(0.85, 0, 0.15, 1);
  --animation-duration: 2s;
  width: var(--stroke-width);
  height: var(--size);
  background-color: var(--color);
  transform: scaleY(0);
  transform-origin: top center;
  animation: var(--animation-timing-function) var(--animation-duration) infinite line-1-vertical-animation;
}

@keyframes line-1-vertical-animation {
  0% {
    transform: scaleY(0);
    transform-origin: top center;
  }

  50% {
    transform: scaleY(1);
    transform-origin: top center;
  }

  51% {
    transform: scaleY(1);
    transform-origin: bottom center;
  }

  100% {
    transform: scaleY(0);
    transform-origin: bottom center;
  }
}